[core]
	hooksPath = ~/.git-hooks
	quotepath = false
	pager = delta
[user]
	email = wjhhhhhha0@gmail.com
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	syntax-theme = rose-pine
[merge]
	conflictstyle = zdiff3
